
* {
    margin: 0;
    padding: 0;
    font: inherit;
  }
  body {
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
  }
  /* style login */
  .login {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background: #fffede;
    }
    .LoginContainer {
      width: 100%;
      max-width: 400px;
      padding: 30px;
  
    }
    .LoginContainer h1 {
      margin-bottom: 50px;
      font-size: 2rem;
      text-align: center;
    }
    .LoginContainer form {
      display: flex;
      flex-direction: column;
    }
    .LoginContainer form label {
      margin-bottom: 10px;
      font-size: 1.2rem;
    }
    .LoginContainer form input {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 20px;
      margin-bottom: 20px;
    }
    .LoginContainer form button {
        max-width: 200px;
        margin-left: 100px;
      margin-top: 20px;
      padding: 10px  ;
      border: none;
      border-radius: 20px;
      background: #0c0c0c;
      color: #fff;
      font-size: 1.2rem;
    }
    .LoginContainer form button:hover {
      background: #555;
    }
  
    .SignupButton{
      text-align: center;
      text-decoration: none;
      color: #5f18c2;
      margin-top: 10px;
      padding: 10px;
      border: none;
      border-radius: 5px;
      color: rgb(67, 21, 234);
      font-size: 1rem;
      cursor: pointer;
      display: block;
    }
    .SignupButton:hover {
      color: #555;
    }
    /* style signup */
    .signup {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background: #fffede;
    }
    .SignupContainer {
      width: 100%;
      max-width: 400px;
      padding: 20px;  
    }
    .SignupContainer h1 {
      margin-bottom: 50px;
      font-size: 2rem;
      text-align: center;
    }
    .SignupContainer form {
      display: flex;
      flex-direction: column;
    }
    .SignupContainer form input {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 20px;
      margin-bottom: 20px;
    }
    .SignupContainer form button {
      margin-top: 20px;
      max-width: 200px;
      margin-left: 100px;
      border-radius: 20px;
      padding: 10px;
      border: none;
      background: #333;
      color: #fff;
      font-size: 1.2rem;
      cursor: pointer;
    }
    .SignupContainer form button:hover {
      background: #555;
    }
    .SignupContainer form a {
      text-align: center;
      font-size: 1.2rem;
      text-decoration: none;
      color: #333;
    }
    .SignupContainer form a:hover {
      color: #555;
    }
    .SignupRegisterButton {
      margin-top: 20px;
      padding: 10px;
      border: none;
      border-radius: 5px;
      color: black;
      font-size: 1.2rem;
      display: block;
    }
    .BackButton{
        text-align: right;
        text-decoration: none;
        color: #5f18c2;
        margin-top: 10px;
        padding: 10px;
        border: none;
        border-radius: 5px;
        color: rgb(67, 21, 234);
        font-size: 1rem;
        cursor: pointer;
        display: block;
      }
      .BackButton:hover {
        color: #555;
      }
    
    /* #errormessage {
      color: red;
      margin-top: 5px;
      font-size: 14px;
    }
    #loginError {
      color: red;
      margin-top: 5px;
      font-size: 14px;
    }
     */