body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #F2E9B6;
}

header {
  background-color: #F2E9B6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-left h1 img {
  display: block;
  width: 300px;
  height: 80px;
  margin-right: 20px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
  font-size: 20px;
  color: black;
  font-weight: bold;
}
.header-right {
  display: flex;
  align-items: center;
}

.login-button {
  background-color: #393D48;
  color: white;
  padding: 8px 10px;
  border-radius: 5px;
  text-decoration: none;
}

.login-button:hover {
  background-color: #0000ff;
}

main{
  padding: 30px;
  background-color: #FFFEDE;
}

#split{
  display: flex;

}
#split-child{
  flex: 0 0 20%;
  margin-right: 32px;
}



#button-group{
  display:flex;
  flex-flow: column;
}
.buttonsec{
  background: #eee;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 240px;
  padding: 10px 25px;
  color: #313131;
  transition: 0.3s ease-in-out;
  border-radius: 10px;
}
.buttonsec:hover{
  background: #313131;
  color: #FFF;
}

#listitem{
  flex: 1 0 80%;
  display:block;
}


#ranking-select{
  height: 20px;
  display: flex;
  padding-bottom: 30px;

}

#selectsort{
  color: #ffffff;
  background-color: #393D48;
  width: 16%;
  height: 125%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  text-align-last: center
}

#serchbox{
  height: 95%;
  width: 64%;
}

#serchbox:focus{
  outline: 0;
  box-shadow: 0 0 0 2px rgb(33, 150, 243) inset;
}
#serchicon{
  height: 125%;
  width: 5%;
  padding-left: 1%;
  padding-right: 1%;
  text-align: center;
  background-color: rgba(191, 165, 70, 0.792);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
#serchicon:hover{
  background: rgba(196, 153, 1, 0.792);
}
.itemimg{
 padding-right: 100px;
}

.resultitem{
 display: flex;
 box-sizing: border-box; 
 border: 1px solid #333;
 background-color: #ffffff; 
 border-radius: 10px;
 margin: 20px;
}

.item-explan{
 width: 100%;
}

.list-title{
  font-size: 30px;
 padding-bottom: 20px;
}
